<a href="https://colab.research.google.com/github/tort-cam/ST-554-P1/blob/main/Task1/task01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title: Task 1

Author: Bryan Sandor

# Initialization

The data being made available through the UCI website, a package must be installed before the appropriate file may be accessed and the necessary variables saved locally.

In [ ]:
!pip install ucimlrepo

import pandas as pd
import math as math

from ucimlrepo import fetch_ucirepo

# fetch dataset
air_quality = fetch_ucirepo(id=360)

# data (as pandas dataframes)
airdata = air_quality.data.features
y = air_quality.data.targets

# metadata
print(air_quality.metadata)

# variable information
print(air_quality.variables)

# look at a few of the observations
airdata

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.12/dist-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.12/dist-packages (from ucimlrepo) (2026.1.4)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
{'uci_id': 360, 'name': 'Air Quality', 'repository_url': 'https://archive.ics.uci.edu/dataset/360/air+quality', 'data_url': 'https://archive.ics.uci.edu/static/public/360/data.csv', 'abstract': 'Contains the responses of a gas multisensor device deployed on the field in an Italian city. Hourly responses averages are recorded along with gas concentrations references from a certified analyzer. ', 'area': 'Computer Science', 'tasks': ['Regression'], 'characteristics': ['Multivariate', 'Time-Series'], 'num_instances': 9358, 'num_features': 15, 'feature_types': ['Real'], 'demographics': [], 'target_col': None, 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2008, 'last_updated': 'Sun Mar 10 2024', 'dataset_doi': '10.24432/C59K5F', 'creators': ['Saverio Vito'], 'intro_paper': {'ID': 420, 'type': 'NATIVE', 'title': 'On field calibration of an electronic nose for benzene estimation in an urban pollution monitoring scenario', 'authors': 'S. D. Vito, E. Massera, M. Piga, L. Martinotto, G. Francia', 'venue': 'Sensors and Actuators B: Chemical', 'year': 2008, 'journal': None, 'DOI': '10.1016/j.snb.2007.09.060', 'URL': 'https://www.semanticscholar.org/paper/a90a54a39ff934772df57771a0012981f355949d', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'The dataset contains 9358 instances of hourly averaged responses from an array of 5 metal oxide chemical sensors embedded in an Air Quality Chemical Multisensor Device. The device was located on the field in a significantly polluted area, at road level,within an Italian city. Data were recorded from March 2004 to February 2005 (one year)representing the longest freely available recordings of on field deployed air quality chemical sensor devices responses. Ground Truth hourly averaged concentrations for CO, Non Metanic Hydrocarbons, Benzene, Total Nitrogen Oxides (NOx) and Nitrogen Dioxide (NO2)  and were provided by a co-located reference certified analyzer. Evidences of cross-sensitivities as well as both concept and sensor drifts are present as described in De Vito et al., Sens. And Act. B, Vol. 129,2,2008 (citation required) eventually affecting sensors concentration estimation capabilities. Missing values are tagged with -200 value.\r\nThis dataset can be used exclusively for research purposes. Commercial purposes are fully excluded.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '0 Date\t(DD/MM/YYYY)\r\n1 Time\t(HH.MM.SS)\r\n2 True hourly averaged concentration CO in mg/m^3  (reference analyzer)\r\n3 PT08.S1 (tin oxide)  hourly averaged sensor response (nominally  CO targeted)\t\r\n4 True hourly averaged overall Non Metanic HydroCarbons concentration in microg/m^3 (reference analyzer)\r\n5 True hourly averaged Benzene concentration  in microg/m^3 (reference analyzer)\r\n6 PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)\t\r\n7 True hourly averaged NOx concentration  in ppb (reference analyzer)\r\n8 PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally NOx targeted) \r\n9 True hourly averaged NO2 concentration in microg/m^3 (reference analyzer)\t\r\n10 PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally NO2 targeted)\t\r\n11 PT08.S5 (indium oxide) hourly averaged sensor response (nominally O3 targeted)\r\n12 Temperature in Â°C\t\r\n13 Relative Humidity (%) \t\r\n14 AH Absolute Humidity\r\n', 'citation': None}}
             name     role         type demographic  \
0            Date  Feature         Date        None
1            Time  Feature  Categorical        None
2          CO(GT)  Feature      Integer        None
3     PT08.S1(CO)  Feature  Categorical        None
4        NMHC(GT)  Feature      Integer        None
5        C6H6(GT)  Feature   Continuous        None
6   PT08.S2(NMHC)  Feature  Categorical        None
7         NOx(GT)  Feature      Integer        None
8    PT08.S3(NOx)  Feature  Categorical        None
9         NO2(GT)  Feature      Integer        None
10   PT08.S4(NO2)  Feature  Categorical        None
11    PT08.S5(O3)  Feature  Categorical        None
12              T  Feature   Continuous        None
13             RH  Feature   Continuous        None
14             AH  Feature   Continuous        None

                                          description       units  \
0                                                None        None
1                                                None        None
2   True hourly averaged concentration CO in mg/m^...      mg/m^3
3   hourly averaged sensor response (nominally  CO...        None
4   True hourly averaged overall Non Metanic Hydro...  microg/m^3
5   True hourly averaged Benzene concentration  in...  microg/m^3
6   hourly averaged sensor response (nominally NMH...        None
7   True hourly averaged NOx concentration  in ppb...         ppb
8   hourly averaged sensor response (nominally NOx...        None
9   True hourly averaged NO2 concentration in micr...  microg/m^3
10  hourly averaged sensor response (nominally NO2...        None
11  hourly averaged sensor response (nominally O3 ...        None
12                                        Temperature          °C
13                                  Relative Humidity           %
14                                  Absolute Humidity        None

   missing_values
0              no
1              no
2              no
3              no
4              no
5              no
6              no
7              no
8              no
9              no
10             no
11             no
12             no
13             no
14             no

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,3.1,1314,-200,13.5,1101,472,539,190,1374,1729,21.9,29.3,0.7568
9353,4/4/2005,11:00:00,2.4,1163,-200,11.4,1027,353,604,179,1264,1269,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142,-200,12.4,1063,293,603,175,1241,1092,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1003,-200,9.5,961,235,702,156,1041,770,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071,-200,11.9,1047,265,654,168,1129,816,28.5,13.1,0.5028

Now we delete any observations where `C6H6(GT)` or `PT08.S1(CO)` are $-200$, which represent missing values.

In [ ]:
sum(airdata["C6H6(GT)"] == -200) # count number of observations to delete

366

In [ ]:
for i in range(len(airdata)):
    if (airdata["C6H6(GT)"].loc[i] == -200):
        airdata.drop(i, inplace = True) # inplace updates dataframe actively

In [ ]:
sum(airdata["C6H6(GT)"] == -200)

0

Notice the observations indicating missing values for `C6H6(GT)` must have also been missing values for `PT08.S1(CO)` since the number of observations indicating missing values for the latter is now also $0$. A `len` command also verifies $366$ observations have been removed from the dataframe.

In [ ]:
sum(airdata["PT08.S1(CO)"] == -200)

0

In [ ]:
len(airdata)

8991

# Grid Search

## Just `y`

In [271]:
def loss(y = "C6H6(GT)", c = 0):

    """
    This function takes a column from the airdata data frame and a fixed value c and returns the root mean square error of all the observations in the desired column and c.
    """

    MSE = 0 # initialize mean square error (MSE)

    for i in range(len(airdata)):
        MSE += ( airdata[y].iloc[i] - c ) ** 2 # calculate MSE

    RMSE = math.sqrt(MSE) # calculate root MSE (RMSE)

    return RMSE

In [287]:
def makegrid(y = "C6H6(GT)", n = 1):

    """
    This function creates a list for a grid of values spanning from the first quartile to the third quartile with the step size determined by the number of steps in the span, n.
    """

    mesh = (airdata[y].quantile(0.75) - airdata[y].quantile(0.25))/n
    grid = [x * mesh + airdata[y].quantile(0.25) for x in range(n)]
    return grid

In [364]:
def gridsearch(y = "C6H6(GT)", n = 1):
    """
    This function takes a column from the airdata, y, and a desired number of steps, n, creates a grid and runs the loss function on each value within the grid to create a list. It then searches the list for the minimum root mean square error and the position within the grid where it occurs, returning both.
    """

    if n > 1000: # Program takes approximately 1 minute to run with this cap
        print("Please choose a smaller number of iterations.")
        return

    grid = makegrid(y = y, n = n) # create a grid with given parameters

    rmsegrid = [[grid[i], loss(y = y, c = grid[i])] for \
                i in range(n)] # list comprehension to compute the root mean square error for all the values within the grid

    gridminrmse = 1e32 # initializes an error value to compare within list

    for i in range(n): # finds the smallest RMSE and its location in the grid
        if rmsegrid[i][1] < gridminrmse:
            gridminrmse = rmsegrid[i][1]
            gridref = rmsegrid[i][0]

    return [gridref, gridminrmse]

In [361]:
gridsearch(n = 1000)

[np.float64(10.0832), 706.3592030828498]

In [362]:
airdata["C6H6(GT)"].mean()

np.float64(10.083105327549772)

In [363]:
loss(c = airdata["C6H6(GT)"].mean())

706.3592030258148

In [366]:
gridsearch(y = "PT08.S1(CO)", n = 1000)

[np.float64(1099.876), 20582.576666822246]

In [367]:
airdata["PT08.S1(CO)"].mean()

np.float64(1099.8331664998332)

In [368]:
loss(y = "PT08.S1(CO)", c = airdata["PT08.S1(CO)"].mean())

20582.576266098204

## Using `y` and another numeric variable `x`

# Gradient Descent

## Just `y`

## Using `y` and another numeric variable `x`